body {
	background-color: #1f1b19;
}

h1 {
	color:rosybrown;
	
}

h2 {
	color: rosybrown;
}

h3 {
	color: rosybrown
}

p {
	color: rosybrown;
}

img{
	border: 2px solid rosybrown;
	
}

ul.a {
  list-style-type: circle;
}

ul li {
  color: rosybrown;
}

a:link {
				color: indianred;
			}
			a:visited {
				color: palevioletred;
			}
			a:hover {
				color: peachpuff;
			}

plainlink {
	text-decoration: none;
	color: rosybrown;
	}

plainlink:hover {
	text-decoration: underline;
	}	
