body {
	background-color: rosybrown;
}

h1 {
	color: maroon;
	font-size: xx-large;
	
}

h2 {
	color: maroon;
}

h3 {
	color: black ;
	font-size: x-large;

}

p {
	color: black;
}

img{
	border: 2px solid black;
	
}

ul.a {
  list-style-type: circle;
}

ul li {
  color: black;
  list-style-type: black;
  
}

li {
	color: black;
}
a:link {
				color: maroon;
			}
			a:visited {
				color: maroon;
			}
			a:hover {
				color: bisque;
			}

plainlink {
	text-decoration: none;
	color: maroon;
	}

plainlink:hover {
	text-decoration: underline;
	}	
