body {
	background-color: #388697;
}

h1 {
	color:#CCF5AC;
	font-size: xx-large;
	
}

h2 {
	color: #CCF5AC;
}

h3 {
	color: #CCF5AC ;
	font-size: x-large;

}

p {
	color: #CCF5AC;
}

img{
	border: 2px solid #CCF5AC;
	
}

ul.a {
  list-style-type: circle;
}

ul li {
  color: rosybrown;
}

a:link {
				color: #9792E3;
			}
			a:visited {
				color: #9792E3;
			}
			a:hover {
				color: peachpuff;
			}

plainlink {
	text-decoration: none;
	color: rosybrown;
	}

plainlink:hover {
	text-decoration: underline;
	}	
